/** LESS variables file **/
/**************/
/* Typography */
/**************/
/**********/
/* Colors */
/**********/
/*********************/
/** Global elements **/
/*********************/
/** Body element **/
body {
  margin: 0;
  padding: 15px 0;
  font-family: 'Calibri', 'Tahoma', sans-serif;
  background-color: #ffffff;
}
/*********************/
/** Utility classes **/
/*********************/
.alert {
  width: 50%;
  margin: 0 auto 20px auto;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.alert-info {
  color: #31708f;
  border-color: #31708f;
  background-color: #d9edf7;
}
.alert-success {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.alert-col {
  display: inline-block;
  width: 32%;
  text-align: center;
}
.btn {
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
}
.btn-info {
  color: #ffffff;
  background-color: #f0ad4e;
}
.btn-info:hover {
  background-color: #d3881f;
  cursor: pointer;
}
/** Vertical align **/
.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/*******************/
/** Page elements **/
/*******************/
/** Drag container **/
.drag-container {
  position: relative;
  margin: 0 auto;
  width: 600px;
  /** Draggables **/
  /** Drop container **/
}
.drag-container .logo-dot {
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: 10;
  background-color: transparent;
}
.drag-container .logo-dot[data-dot-color='blue'] {
  left: 30px;
  top: 0;
}
.drag-container .logo-dot[data-dot-color='red'] {
  left: 145px;
  top: 0;
}
.drag-container .logo-dot[data-dot-color='green'] {
  left: 260px;
  top: 0;
}
.drag-container .logo-dot[data-dot-color='black'][data-color-index='1'] {
  left: 375px;
  top: 0;
}
.drag-container .logo-dot[data-dot-color='black'][data-color-index='2'] {
  left: 490px;
  top: 0;
}
.drag-container .drop-container {
  padding-top: 110px;
  z-index: 2;
  /** Drop targets **/
  /** Drop target hover classes **/
}
.drag-container .drop-container .dest-dot {
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: 1;
  background-color: transparent;
}
.drag-container .drop-container .dest-dot[data-dot-color='black'][data-color-index='1'] {
  left: 45px;
  top: 290px;
}
.drag-container .drop-container .dest-dot[data-dot-color='blue'] {
  left: 274px;
  top: 145px;
}
.drag-container .drop-container .dest-dot[data-dot-color='red'] {
  left: 454px;
  top: 170px;
}
.drag-container .drop-container .dest-dot[data-dot-color='black'][data-color-index='2'] {
  left: 418px;
  top: 385px;
}
.drag-container .drop-container .dest-dot[data-dot-color='green'] {
  left: 142px;
  top: 433px;
}
.drag-container .drop-container .hover-target-good {
  background-image: url("../../img/valid.png");
}
.drag-container .drop-container .hover-target-bad {
  background-image: url("../../img/invalid.png");
}
